@media (min-width: 80.5em) {
    figure img:hover {
        border-color: var(--primary-color);
        opacity: 0.75;
    }

    /* ID Selectors */

    #discover-holder {
        display: grid;
        gap: 1rem;
        grid-template-areas:
            "a b"
            "c d"
            "e f";
    }
}