@media (min-width: 37.5em) {
    main {
        margin: 0 5rem;
    }

    nav {
        grid-column: 3/5;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 1rem;
        padding: 0.1rem;
    }

    nav li {
        flex: none;
    }

    /* Class Selectors */

    .navigation {
        display: flex;
    }

    /* ID Selectors */

    #menu {
        display: none;
    }

    #results {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}